h1 
{
    color:rgb(254, 255, 218);
    background-color:rgb(48, 11, 18);
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}