h1 
{
    color:rgb(254, 255, 218);
    background-color:rgb(48, 11, 18);
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.navl
{

    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#FFFFFF;
    color:rgb(48, 11, 18);
    font-size: 20px;
    margin-right:1250px
}